*{
  font-family: "Consolas";
}


.App {
  text-align: left;
}

.card-menu{
  width: 320px;
  height: 420px;
}

.img-card{
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}